
<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapses-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand" href="{{ site.baseurl }}/" id="blog-title-left-top">g</a>
        </div>   
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#portfolioModal2" data-toggle="modal"><i class="fa fa-random" id="icon-top"></i></a>
            <ul class="dropdown-menu"></ul>
            </li>
            <li><a href="https://www.github.com/Qpai/" title="github" target="_blank"><i class="social fa fa-github" id="icon-top"></i></a></li>
            <li><a href="http://weibo.com/1669163295" title="微博" target="_blank"><i class="social fa fa-weibo" id="icon-top"></i></a></li>
            <li><a href="{{ site.baseurl }}/feed.xml title="rss" target="_blank"><i class="social fa fa-rss" id="icon-top"></i></a></li>
            <li><a href="mailto:qingliangpai@126.com" title="邮件联系我" target="_blank"><i class="social fa fa-envelope" id="icon-top"></i></a></li>

            <li><a href="{{ site.baseurl }}/archive/">Archive</a></li> 

             <li><a class="navbar-brand portfolio-link" href="#portfolioModal1" data-toggle="modal"><img src="{{ site.baseurl }}/img/93TyTG3x.png" id="small-img-nav" width="40" height="40" class="img-circle" alt="newspace"></a></li>
                    <!-- <li><a href="https://www.twitter.com/LucasGatsas" id="roundbutton" target="_blank"><i class="fa fa-twitter"></i>LucasGatsas</a></li> 
            </ul>
        </div> 
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right:0px; overflow: hidden;">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h1 class="font-style-inline-small-h1">Qpai</h1>
                            <hr class="star-primary">
                            <img src="{{ site.baseurl }}/img/Qpai_header.jpg" class="img-responsive img-centered" alt="Qpai" title="Qpai">
                            <p class="font-style-inline-small">
                                你好，我的名字叫李祎，我是一只码农，目前专注于iOS/客户端架构设计/Hybrid/项目管理 <br>
                            </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Menu Modals Add New Sa.21.Feb.2015 03:22:25 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right:0px; overflow: hidden;">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h1 class="font-style-inline-small-h1">Qpai</h1>
                            <hr class="star-primary">
                            <p class="font-style-inline-small">
                        <a href="http://weibo.com/1669163295" target="_blank">follow</a>. <br> 
                                <a href="https://www.github.com/Qpai" target="_blank">    <i class="fa fa-github" id="spaceg-social-modal"></i> </a> 
                                <a href="http://weibo.com/1669163295" target="_blank"><i class="fa fa-twitter" id="spaceg-social-modal"></i> </a>    
                                  <br>
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="{{ site.baseurl }}/about">About Me</a></li>
                    <li><a href="{{ site.baseurl }}/archive/">Archive</a></li>
                            </p>
                      
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

